{% extends 'base.html.twig' %}

{% block title %}Mention légale
{% endblock %}

{% block body %}
	<main class="container mx-auto mt-8 w-[80vw] flex flex-col gap-4">
    <div class=" border-b-2 mt-[5%] w-[full] shadow-2xl "><h1 class="text-2xl">Mentions Légales</h1></div>
		
		<div >
			<h2 class="text-xl">Éditeur du site :
														E-Gamming</h2>
			<p>[Nom de l'entreprise ou de l'individu]</p>
			<p>[Adresse complète]</p>
			<p>[Numéro de téléphone]</p>
			<p>[Adresse e-mail]</p>
			<p>Numéro SIRET : [Votre numéro SIRET]</p>
			<p>Numéro de TVA intracommunautaire : [Votre numéro de TVA, si applicable]</p>
			<p>Directeur de la publication : [Nom du directeur de la publication]</p>
		</div>
		<div>
			<h3 class="text-xl">Hébergeur :</h3>
			<p>[Nom de l'hébergeur]</p>
			<p>[Adresse de l'hébergeur]</p>
			<p>[Numéro de téléphone de l'hébergeur]</p>
		</div>
		<div>
			<h4 class="text-xl">Propriété intellectuelle :</h4>
			<p>L'ensemble du contenu présent sur le site E-Gamming (textes, images, graphismes, logo, etc.) est protégé par les lois françaises et internationales sur la propriété intellectuelle. Toute reproduction, distribution ou modification, même partielle, est strictement interdite sans autorisation préalable.</p>
		</div>
		<div>
			<h4 class="text-xl">Données personnelles :</h4>
			<p>Les informations collectées sur ce site sont destinées à [expliquer l'usage des données]. Conformément à la loi Informatique et Libertés, vous disposez d'un droit d'accès, de rectification et de suppression des données vous concernant. Pour exercer ce droit, veuillez nous contacter à l'adresse suivante : [adresse e-mail].
			</p>
		</div>
		<div>
			<h4 class="text-xl">Cookies :</h4>
			<p>Le site E-Gamming utilise des cookies pour améliorer l'expérience utilisateur. Vous pouvez désactiver les cookies en modifiant les paramètres de votre navigateur.</p>
		</div>
		<div>
			<h4 class="text-xl">Liens externes :</h4>
			<p>Le site peut contenir des liens vers d'autres sites. E-Gamming ne peut être tenu responsable du contenu de ces sites.
			</p>
		</div>
		<div>
			<h4 class="text-xl">Modification des mentions légales :</h4>
			<p>E-Gamming se réserve le droit de modifier ces mentions légales à tout moment. Il est conseillé de les consulter régulièrement.</p>
			<p>Date de dernière mise à jour : [Date]</p>
		</div>
	</main>
{% endblock %}
